.background-clear {
    background-color: rgba(0, 0, 0, 0);
}

.space-workspace-indicator {
    padding: 0 10px 0 0;
    background-color: transparent;
    border-image: none;
    background-image: none;
    border: none;
}

.open-position-icon {
    icon-size: 22px;
    padding: 0;
    background-color: transparent;
}

.focus-button-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
}

.take-window-hint {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 8px;
}

.workspace-icon-button {
    -st-icon-style: symbolic;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.workspace-icon-button StIcon {
    icon-size: 16px;
}

.albumwm-minimap-selection {
    border-radius: 8px;
}

.albumwm-clone-shade {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px 7px 0px 0px;
}
