list.winprops > row .header,
list.combos > row {
    padding: 8px 12px;
    min-height: 32px;
}

list.combos > .editing {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.winprops .option-list {
    background-color: transparent;
}
